img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 5px solid #00aaff;
    display: block;
    margin: auto;
    box-shadow: 0 0 10px #00aaff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.cv-container{
    width: 850px;
    display: flex;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0,3);
}
.left{
    width: 35%;
    background: #1e1e2f;
    color: white;
    padding: 20px;
}
.right{
    width: 65%;
    background: #f8f8f8;
    color: black;
    padding: 20px;
}
h1,h2{
    color: #00aaff;
    margin-bottom: 5px;
    border-bottom: 2px solid #00aaff;
    padding-bottom: 2px;
}
.name{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #00aaff;
    margin-top: 10px;
}
p,li{
    font-size: 12px;
    margin-bottom: 4px;
}
ul{
    margin-left: 15px
}
.cv{
    border: 2px solid #00aaff;
    box-shadow: 0 0 15px #00aaff;
}