.un {
     background-color: rgb(157, 190, 201);
         padding: 75px;
         border-radius: 30px;
         width: fit-content;
         color: #0f0f0f;
         font-size: 23px;
}

.deux {
       background-color: rgb(157, 190, 201);
         padding: 75px;
         border-radius: 30px;
         width: fit-content;
         color: #0f0f0f;
         font-size: 23px;
        
}

.trois {
    
         background-color: rgb(157, 190, 201);
         padding: 75px;
         border-radius: 30px;
         width: fit-content;
         color: #0f0f0f;
         font-size: 23px;
}

.quatre {
     background-color: rgb(157, 190, 201);
         padding: 75px;
         border-radius: 30px;
         width: fit-content;
         color: #0f0f0f;
         font-size: 23px;
}

.cinq {
      background-color: rgb(157, 190, 201);
         padding: 75px;
         border-radius: 30px;
         width: fit-content;
         color: #0f0f0f;
         font-size: 23px;
}

}
