@use "reset";
// base and variables
@use "fonts";
@use "colors" as color;
@use "animation";

// sections and components
@use "components/button";
@use "navbar";
@use "hero";

html,
body {
  background: color.$background;
  font-family: "SpaceGrotesk", sans-serif;
  margin: 0;
  padding: 0;
}
