body {
  margin: 0;
  padding: 0;
  background: #fcfbfc;
  font-family: "SpaceGrotesk", sans-serif;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

.team-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 16px;
  gap: 40px;
  min-height: 100vh;
  margin: 50px 0;
}
.team-container .titre {
  max-width: 580px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}
.team-container .titre h1 {
  font-size: 40px;
  font-weight: 500;
}
.team-container .titre h1 span {
  background-color: #856755;
  color: white;
  padding: 0px 10px;
}
.team-container .titre p {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: black;
}

.membre {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 1624px;
}

.box {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  flex-wrap: wrap;
  gap: 20px;
  row-gap: 60px;
}

.box .card {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  background: #f6f6f6;
  border-radius: 20px;
  transition: all 0.3s ease;
  border: 1px solid #eee;
}

.box .card:hover {
  transform: translateY(-5px);
}

.box .card img {
  width: 100%;
  height: 350px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}

.team-container .membre .box .card .all {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.team-container .membre .box .card .all h2 {
  font-size: 24px;
  font-weight: bold;
  color: black;
  line-height: 28px;
}
.team-container .membre .box .card .all p {
  font-size: 16px;
  font-weight: normal;
  color: #6c757d;
  line-height: auto;
  margin-top: 8px;
}
.team-container .membre .box .card .all a {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  padding: 16px 22px;
  color: white;
  border-radius: 100px;
  background-color: #856755;
  margin-top: 30px;
  transition: all 0.3s ease-in-out;
  letter-spacing: 0.5px;
}

.team-container .membre .box .card .all a:hover {
  filter: brightness(1.3);
}

@media screen and (width <= 1024px) {
  .team-container {
    padding: 16px;
  }
  .team-container .membre .box {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (width <= 768px) {
  .team-container {
    padding: 16px;
  }
  .team-container .membre .box {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (width <= 425px) {
  .team-container .membre .box {
    grid-template-columns: 1fr;
  }
}
