body {
  margin: 0;
  padding: 0;
  background: #FCFBFC;
  font-family: "SpaceGrotesk", sans-serif;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

.team-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 16px;
    
}
.membre {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 1624px;

}



.box {

    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
    min-height: 300px;
    gap: 20px;
   
}

.box .card {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px ;
    background:  #f6f6f6;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.box .card:hover {
    transform: translateY(-5px);
}

.box .card .all {
    margin-top: 10px;
}

.box .card img {
    width: 100%;
    height: 250px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;

}

.box .card .all .nom {
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 10px;
}

.box .card .all .nom p {
    color: gray;
    font-size: 13px;
}

.box .card .all .viavc {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5px;
    
}

.box .card .all .viavc a {
    color: #FCFBFC;
    text-decoration: none;
    background: #856755;
    border-radius: 50px;
    padding: 10px;
    width: 100px;
    border: 1px solid  #856755;
}

.box .card .all .viavc a:hover {
    background: #f6f6f6;
    color:  #856755;
    /* transition: background-color 0.3s ease; */
    transition: 0.3s;
}

/* .box .card {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
} */

@media screen and (width <= 1024px) {
    .team-container{
        padding: 16px;
    }
    .team-container .membre .box {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (width <= 768px) {
    .team-container{
        padding: 16px;
    }
    .team-container .membre .box {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (width <= 425px) {

    .team-container .membre .box {
        grid-template-columns: 1fr ;
    }
}