/* fonts */


.service {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
}

.service .inner-section {
  max-width: 1624px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 98px;
}

.service .inner-section .titre {
  max-width: 580px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;

}
.service .inner-section .titre h1 {
  font-size: 40px;
  font-weight: 500;

}
.service .inner-section .titre h1 span {
  background-color: #856755;
  color: white;
  padding: 0px 10px;
}
.service .inner-section .titre p {
 
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: black;
}


.service .inner-section .box {
  display: flex;
  width: 100%;
  gap: 26px;
}

.service .inner-section .box .card {
  padding: 22px;
  min-height: 379px;
  text-align: start;
  background: #f6f6f6;
  flex: 1;
  border-radius: 20px;
  border: 1px solid #EEEEEE;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.service .inner-section .box .card .card-image {
  width: 70px;
  height: 70px;
  object-fit: cover;
}
.service .inner-section .box .card .card-conent {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.service .inner-section .box .card .card-conent h3 {
  font-size: 20px;
  font-weight: 500;
  color: black;
}

.service .inner-section .box .card .card-conent p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22.4px;
  color: black;
}

@media screen  and (max-width: 768px) {
  .service {
    padding: 20px;
  }
  .service .inner-section .box {
    flex-direction: column;
  }
}