@font-face {
  font-family: "SpaceGrotesk";
  src: url("../fonts/space-grotesk/static/SpaceGrotesk-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SpaceGrotesk";
  src: url("../fonts/space-grotesk/static/SpaceGrotesk-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SpaceGrotesk";
  src: url("../fonts/space-grotesk/static/SpaceGrotesk-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SpaceGrotesk";
  src: url("../fonts/space-grotesk/static/SpaceGrotesk-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #fcfbfc;
  font-family: "SpaceGrotesk", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
